<footer class="footer">

  <div class="container">
     <ul class="list-inline">
        <li>
          <p class="text-muted"><a href="http://www.puhsd.org"><i class="fa fa-fw fa-lg fa-link"></i> www.puhsd.org</a></p>
        </li>
        <li>
          <p class="text-muted"><a href="https://github.com/puhsd"><i class="fa fa-fw fa-lg fa-github"></i> puhsd</a></p>
        </li>
        <li>
          <p class="text-muted"><a href="https://twitter.com/puhsd"><i class="fa fa-fw fa-lg fa-twitter"></i> @puhsd</a></p>
        </li>
      </ul>
  </div>

</footer>
